.home-projects__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;

  margin: 160px 0;
}

.home-projects__link {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
}

.home-projects-left-card {
  color: var(--color-white);
  width: 541px;
  height: 640px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
  background-size: contain;
  background-blend-mode: multiply;
}

.home-projects-right-card {
  color: var(--color-white);
  width: 541px;
  height: 308px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
  background-size: contain;
  background-blend-mode: multiply;
}

.web-design {
  background: url(../../assets/home/desktop/image-web-design-large.jpg)
      no-repeat center,
    rgba(0, 0, 0, 0.5);
}

.web-design:hover {
  background: url(../../assets/home/desktop/image-web-design-large.jpg)
      no-repeat center,
    rgba(231, 129, 107, 0.8);
  background-blend-mode: lighten;
}

.app-design {
  background: url(../../assets/home/desktop/image-app-design.jpg) no-repeat
      center,
    rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
}

.app-design:hover {
  background: url(../../assets/home/desktop/image-app-design.jpg) no-repeat
      center,
    rgba(231, 129, 107, 0.8);
  background-blend-mode: lighten;
}

.graphic-design {
  background: url(../../assets/home/desktop/image-graphic-design.jpg) no-repeat
      center,
    rgba(0, 0, 0, 0.5);
}

.graphic-design:hover {
  background: url(../../assets/home/desktop/image-graphic-design.jpg) no-repeat
      center,
    rgba(231, 129, 107, 0.8);
  background-blend-mode: lighten;
}

.home-values__container {
  display: flex;
  background: url("../../assets/shared/desktop/bg-pattern-leaf.svg") no-repeat;
}

.home-values__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color-dark-grey);
  transition: all 0.4s ease-in-out;
}

.home-values__card:hover {
  transform: scale(0.85, 0.85);
}

.home-values__card-title {
  margin: 3rem 0 2rem 0;
}

.home-values__card-text {
}

.circle-first {
  position: absolute;
}
.circle-second {
  position: absolute;
  transform: rotate(270deg);
}
.circle-third {
  position: absolute;
  transform: rotate(90deg);
}
