.home-header__container {
  background: url("../../assets/home/desktop/bg-pattern-hero-home.svg")
      no-repeat,
    var(--color-peach);
  background-position: 555px 0;
  background-blend-mode: multiply;
  border-radius: 15px;
  padding: 145px 95px;
  color: var(--color-white);

  width: 1111px;
  height: 640px;

  display: flex;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.home-header {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.home-header__title {
  /* margin-bottom: 3rem; */
}

.home-header__text {
  margin: 40px 0;
  width: 445px;
}

.home-header__link {
  width: 152px;
  height: 56px;

  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  border-radius: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--color-dark-grey);
  background-color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;
}

.home-header__link:hover {
  color: var(--color-white);
  background-color: var(--color-light-peach);
  transition: all 0.5s ease-in-out;
}

.home-header__img {
  position: absolute;
  right: -90px;
  top: -30px;
}

.home-projects__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;

  margin: 160px 0;
}

.home-projects__link {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
}

.home-projects1 {
  color: var(--color-white);
  width: 541px;
  height: 640px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}

.home-projects2 {
  color: var(--color-white);
  width: 541px;
  height: 308px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}

.web-design {
  background: url(../../assets/home/desktop/image-web-design-large.jpg)
      no-repeat center,
    rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-blend-mode: multiply;
  transition: all 0.3s ease-out;
}

.web-design:hover {
  background: url(../../assets/home/desktop/image-web-design-large.jpg)
      no-repeat center,
    rgba(231, 129, 107, 0.8);
  background-blend-mode: lighten;
}

.app-design {
  background: url(../../assets/home/desktop/image-app-design.jpg) no-repeat
      center,
    rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-blend-mode: multiply;
  margin-bottom: 24px;
  transition: all 0.3s ease-out;
}

.app-design:hover {
  background: url(../../assets/home/desktop/image-app-design.jpg) no-repeat
      center,
    rgba(231, 129, 107, 0.8);
  background-blend-mode: lighten;
}

.graphic-design {
  background: url(../../assets/home/desktop/image-graphic-design.jpg) no-repeat
      center,
    rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-blend-mode: multiply;
  transition: all 0.3s ease-out;
}

.graphic-design:hover {
  background: url(../../assets/home/desktop/image-graphic-design.jpg) no-repeat
      center,
    rgba(231, 129, 107, 0.8);
  background-blend-mode: lighten;
}

.home-values__container {
  display: flex;
  background: url("../../assets/shared/desktop/bg-pattern-leaf.svg") no-repeat;
}

.home-values__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color-dark-grey);
}

.home-values__card-title {
  margin: 3rem 0 2rem 0;
}

.home-values__card-text {
}

.circle-first {
  position: absolute;
}
.circle-second {
  position: absolute;
  transform: rotate(270deg);
}
.circle-third {
  position: absolute;
  transform: rotate(90deg);
}
