* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Jost", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

:root {
  /* PRIMARY */

  --color-peach: #e7816b;
  --color-black: #1d1c1e;
  --color-white: #fff;

  /* SECONDARY */
  --color-light-peach: #ffad9b;
  --color-dark-grey: #333136;
  --color-light-grey: #f1f3f5;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
